@import '../../App.module.scss';

.container {
  padding: 15px;
  border: 1px solid salmon;
  border-radius: 15px;
  width: 350px;

  @include onDesktop {
    width: 440px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.name {
  display: flex;
  align-items: center;
  width: 70%;
  height:  65px;
  font-size: 22px;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  max-width: 80px;
  max-height: 50px;
}

.link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(107, 189, 224);
  text-transform: uppercase;
  font-size: 22px;
  padding: 5px;
  transition: transform 1s;
  margin-bottom: 10px;

  &:hover {
    transform: scale(1.2);
  }
}

.networks {
  display: flex;
  gap: 15px;
}

.linkedin {
  padding: 0;
  width: 40px;
  height: 40px;
  
  &:hover {
    cursor: pointer;
  }
}

.dou {
  padding: 0;
  width: 40px;
  height: 40px;
  border: 1px solid lightgray;
  
  &:hover {
    cursor: pointer;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}

.statusDone {
  padding: 0;
  width: min-content;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  color: green;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.statusNeedConnect {
  padding: 0;
  width: min-content;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  color: red;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}