@import '../../App.module.scss';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 48px;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 40px;

  @include onTablet {
    font-size: 65px;
  }

  @include onDesktop {
    font-size: 80px;
  }
}